.menu_table{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.table th, .table td{
    background-color: #7ABB3B;
    border
}
.table td a,.table th a{
    color:white
}
.tr-boxes{
    height:300px;
    width:300px;
}
.menu_table {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}