{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<link type="text/css" rel="stylesheet" href="{% static '/css/menu.css' %}">
<style>
    .table th, .table td {
    background-color: #7ABB3B;
    border: ;
    vertical-align: middle;
}
</style>
<br>
<div class="row menu_table">
    <div class="col-md">
        <div class="card card-body">
                <table class="table menu_table" >
                    <tr class="d-inline p-2 tr-boxes" style="vertical-align: middle;">
                        <th class="tr-boxes"><a style="color:white;border-radius:11px;" href="{%url 'tamrin_ostad'%}">Exercise</a></th>
                    </tr>
                    <tr class="d-inline p-2 tr-boxes" style="vertical-align: middle;">
                        <th class="tr-boxes"><a style="color:white;border-radius:11px;" href="{% url 'video_ostad' %}">Videos</a></th>
                    </tr>
                </table>

        </div>
    </div>
</div>


{% endblock %}