{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<link type="text/css" rel="stylesheet" href="{% static '/css/menu.css' %}">

<br>
<div class="row menu_table">
    <div class="col-md">
        <div class="card card-body">

                <table class="table">
                    <tr>

                        <th class="menu_th"><a style="color:white;" href="{% url 'tamrin_student' %}">Exercise</a></th>
                    </tr>
                    <tr>
                        <th class="menu_th"><a style="color:white;" href="{% url 'video_student' %}">Videos</a></th>
                    </tr>
                </table>

        </div>
    </div>
</div>


{% endblock %}