{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">

            <div class = card card-body>
                <table class="table">
                    <tr>
                        <th><a href="{%url 'tamrin_ostad'%}">Exercise</a></th>
                    </tr>
                    <tr>
                        <th><a href="{% url 'video_ostad' %}">Videos</a></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}