{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<br>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Tamrins</h5>
            <div class = card card-body>
                <table class="table">
                    <tr>
                        <th>Student Code</th>
                        <th>date</th>
                        <th>Answer</th>
                        <th>score</th>
                    </tr>


                    {% for i in tamrin %}
                    <tr>
                        <th><a href="static '{{tamrin}}'">{{i.responder}}</a></th>
                        <th><a href="static '{{tamrin}}'">{{i.upload_time}}</a></th>
                        <th><a href="static '{{tamrin}}'">{{i.document}}</a></th>
                        <th><a href="static '{{tamrin}}'">{{i.score}}</a></th>
                    </tr>
                    {% endfor %}


                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}
