{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-7" style="margin-left:auto;margin-right:auto;">
        <div class="card card-body">
            <h5 class="text-center">Tamrins</h5>
            <div class = card card-body>
                <table class="table">
                    <tr>
                        <th>Tamrin</th>
                        <th>date</th>
                        <th>Answer</th>
                        <th>score</th>
                    </tr>
                    {% for i,j in tamrin %}
                        <tr>
                            <th>{{ i.name }}</th>
                            <th>{{ j.upload_time }}</th>
                            <th><a href="{% url 'upload_answer'%}" class="btn btn-info">Upload</a></th>
                            <th>{{ j.score }}</th>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>



{% endblock %}
