{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-7" style="margin-left:auto;margin-right:auto;">
        <div class="card card-body">
            <h5 class="text-center">Exercises</h5>
            <div class = card card-body>
                <table class="table">
                    <tr>
                        <th>Tamrin</th>
                        <th>date</th>
                        <th>Answer</th>
                        <th>score</th>
                    </tr>
                    {% for i,j in answer %}
                        {% if j != 0 %}
                            <tr>
                                <th>{{ i.name }}</th>
                                <th>{{ j.upload_time }}</th>
                                <th><a href="{% url 'upload_answer' i.id %}" class="btn btn-info">Upload</a></th>
                                <th>{{ j.score }}</th>
                            </tr>
                        {% else %}
                            <tr>
                                <th>{{ i.name }}</th>
                                <th> -</th>
                                <th><a href="{% url 'upload_answer' i.id %}" class="btn btn-info">Upload</a></th>
                                <th> - </th>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% for i in baghi %}
                        <tr>
                            <th>{{ i.name }}</th>
                            <th>-</th>
                            <th><a href="{% url 'upload_answer' i.id %}" class="btn btn-info">Upload</a></th>
                            <th>None</th>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>



{% endblock %}
