{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<br>
<div class="row">
    <div class="col-md-10" style="margin-right:auto;margin-left:auto">
        <div class="card ">
            <h5 class="text-center card-header" style="background-color: balck">{{ name }}</h5>
            <div class = card card-body>
                <table class="table">
                    <tr>
                        <th>Student Code</th>
                        <th>date</th>
                        <th>Answer</th>
                        <th>score</th>
                    </tr>
                    {% for i in tamrin %}
                        {% csrf_token %}
                        <tr>
                            <th>{{ i.responder }}</th>
                            <th>{{ i.upload_time }}</th>
                            <th><a href="../../../{{ i.document.name}}" class="btn btn-info">Download</a></th>
                            <th>{{ i.score }}</th>
                            <th><a href="{% url 'tamrin_detail_ostad_correction' i.id %}">correction</a></th>
                        </tr>
                    {% endfor %}
                </table>
                <input type="submit" value="asign" class="btn btn-success">

            </div>
        </div>
    </div>
</div>


{% endblock %}
